div.header {
	background: black;
	left: 0px;
	top: 0px;
	max-width: 1000px;
	font: normal normal normal 40px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
	color: #EEEEEE;
}


div.choice-block {
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
	font: normal normal normal 40px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
	color: #EEEEEE;

/*	background: brown;*/
}



div.choice-block-add {
    margin-left: 30px;
    max-width: 700px;
    font: normal normal normal 40px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    color: #EEEEEE;

/*  background: brown;*/
}

div.choice-title {
	padding-top: 20px;
	padding-bottom: 20px;	
}

div.ch-title {
	text-align: center;
	height: 100px;
	padding-top: 20px;
	font-weight: 700;
/*	background: blue;*/
}

div.choice-various {
	padding: 20px 50px 50px 20px;
	font-size: 48px;
/*	background: black;*/
}

.choice-various .btn {
	width: 110px;
	height: 110px;

	vertical-align: middle;
	padding-top: 20px;

	border: 1px solid transparent;
	border: 5px solid;

	/*
	text-decoration: none;
	background: none;
    -moz-user-select: none;    
    border-radius: 0; 
    line-height:20px; 	
*/

	letter-spacing: 1px;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	white-space: nowrap;

	display: inline-block;

	margin-top: 20px;
	margin-right: 8px;
	margin-left: 8px;

	cursor: pointer; 
}

.choice-various .btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}

.choice-various .btn-outlined.btn-theme {
    color: #ffffff;
	border-color: #ffffff;
}

.choice-various .btn-outlined.btn-theme:hover,
.choice-various .btn-outlined.btn-theme:active {
    color: #2a9b1b;
/*    background: #eeff3d;*/
    border-color: #2a9b1b;
}



 

#sidebar .btn {
/*    width: 110px;
    height: 110px;*/

    vertical-align: middle;
    padding: 6px 20px;

    border: 1px solid transparent;
    border: 2px solid;

    /*
    text-decoration: none;
    background: none;
    -moz-user-select: none;    
    border-radius: 0; 
    line-height:20px;   
*/

    letter-spacing: 1px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;

    display: inline-block;

/*    margin-top: 20px;
    margin-right: 8px;
    margin-left: 8px;*/

    margin: 10px auto auto 25px;

    cursor: pointer; 
}

#sidebar .btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}

#sidebar .btn-outlined.btn-theme {
    color: #aaaaaa;
    border-color: #aaaaaa;
}

#sidebar .btn-outlined.btn-theme:hover,
#sidebar .btn-outlined.btn-theme:active {
    color: #ff0000;
/*    background: #eeff3d;*/
    border-color: #ff0000;
}







/*

#t-cards {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #345;    
}

.panel.panel-card {
    position: relative;
    height: 200px;
    border: none;
    overflow: hidden;
}
.panel-card .panel-heading {
    position: relative;
    z-index: 2;
    height: 140px;
    border-bottom-color: #fff;
    overflow: hidden;
    
    -webkit-transition: height 500ms ease-in-out;
            transition: height 500ms ease-in-out;
}
.panel-card .panel-heading img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 120%;
    
    -webkit-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
}

.panel.panel-card .panel-body {
    padding-top: 10px;
    padding-bottom: 10px;

    -webkit-transition: padding 400ms ease-in-out;
            transition: padding 400ms ease-in-out;
} 

.panel.panel-card .description {
    text-align: center;
}



.panel.panel-card:hover .panel-heading {
    height: 100px;
    
    -webkit-transition: height 500ms ease-in-out;
            transition: height 500ms ease-in-out;
}

.panel.panel-card:hover .panel-body {
    padding-top: 20px;
    
    -webkit-transition: padding 400ms ease-in-out;
            transition: padding 400ms ease-in-out;
}
*/