{% extends "base.html" %}

{% block title %} 
	{{ speciality.full_name }}
{% endblock %}

{% block content %}

<div class="choice-block">
	<center>
		<div class="choice-title">
			<div class="ch-title">
				Курс
			</div>
		</div>		
		<div class="choice-various">
			{% for course in courses %}
				<a href="/{{ speciality_id }}/{{ course.id }}/" style="text-decoration:none;" class="choice-variant btn btn-outlined btn-theme" data-wow-delay="0.7s">
					
						{{ course.number }}
					
				</a>
			{% endfor %}			
		</div>		
	</center>
</div>

{% endblock %}