{% extends "base.html" %}
{% block content %}
 <div class="sub-block">
    <center>
        <div class="subj-title">
            <div class="sub-title" style="font-size:30px">
            <form action="" method="post" id="form" enctype="multipart/form-data"> {% csrf_token %}   
                <div class="sub-title"> Завдання: </div>  
                {{ practic_formset.management_form }}
                {{ file_formset.management_form }}
                    {% for form in  practic_formset %}
                            <div class="form-title">Тема :</div>
                                {{ form.title }}
                            <div class="form-title">Тип :</div>
                                {{ form.kind }}
                            <div class="form-title">Номер :</div>
                                {{ form.number }}
                        {% endfor %}
                        {% for form in  file_formset %}
                            <div class="form-title">Файл :</div>
                                {{ form.document }}
                        {% endfor %}                  
    			<div class="submit-container">
                    <input class="btn-success" type="submit" value="Додати"/>
                    <input type="hidden" name="next" value="{{ next|escape }}"/>
                </div>
			</form>	
	       </div>
        </div>
    </center>
 </div>
{% endblock content %}
{% block sidebarbottom %}
    <a href="{% url 'teacher_subject_list'%}" class="choice-variant btn btn-outlined btn-theme">Перейти на сторінку адміна</a>
    <a href="{% url 'teacher_logout' %}" class="choice-variant btn btn-outlined btn-theme">Вийти користувач - {{user.username}}</a>
{% endblock %}