{% extends "base.html" %}
{% block content %}
	<div class="sub-block">
    <center>
        <div class="subj-title">
            <div class="sub-title" style="font-size:30px">
			<form action="" method="post" class="form-container" id="form" enctype="multipart/form-data">{% csrf_token %}
				{{ practic_formset.management_form }}
                {{ practic_file_formset.management_form }}

                {% for form in practic_formset %}
                <div class="form-title">type</div>
                	{{ form.kind }}
                <div class="form-title">number</div>
                	{{ form.number }}
                <div class="form-title">title</div>
                	{{ form.title }}
                {% endfor %}

                {% for form in practic_file_formset %}
                	<div class="form-title">document </div>
                		{{ form.document }}
                {% endfor %}

				<div class="submit-container">
	                <input class="btn-success" type="submit" value="Зберегти внесені зміни"/>
	                <input type="hidden" name="next" value="{{ next|escape }}"/>
	               </div>
			</form>
		</div>
	</div>
	</center>
	</div>
{% endblock content %}
{% block sidebarbottom %}
    <a href="{% url 'teacher_subject_list'%}" class="choice-variant btn btn-outlined btn-theme">Перейти на сторінку адміна</a>
    <a href="{% url 'teacher_logout' %}" class="choice-variant btn btn-outlined btn-theme">Вийти користувач - {{user.username}}</a>
{% endblock %}