{% extends "base.html" %}

{% block content %}
	<div class="choice-block">
        <div class="ch-title">
			<form action="" method="post" class="form-container" id="form">{% csrf_token %}
				<div class="form-title">Тип завдання</div>
					{{ form.kind }}
					{{ form.kind.errors }}
				<div class="form-title">Номер завдання</div>
					{{ form.number }}
					{{ form.number.errors }}
				<div class="form-title">Тема:</div>
					{{ form.title }}
					{{ form.title.errors }}
				<div class="submit-container">
	                <input class="btn-success" type="submit" value="Зберегти внесені зміни"/>
	                <input type="hidden" name="next" value="{{ next|escape }}"/>
	            </div>
			</form>
		</div>
	</div>
{% endblock content %}