<!DOCTYPE html>
 <html>
 <head>
 	{% load staticfiles %}
 	<title>Навчальне Середовище</title>
 	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
 	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
 	<script src="{% static "js/jquery-2.1.3.js" %}" rel="stylesheet" type="text/javascript"></script>
 	<script src="{% static "js/bootstrap.js" %}" rel="stylesheet" type="text/javascript"></script>
 	<script src="{% static "js/bootstrap.min.js" %}" rel="stylesheet" type="text/javascript"></script>
 	<script src="{% static "js/jquery.validate.js" %}" rel="stylesheet" type="text/javascript"></script>
 	<script src="{% static "js/mains.js" %}" rel="stylesheet" type="text/javascript"></script>
 </head>
 <body>
 	<a href="{% url 'teacher_login' %}"> ENTER </a>
 	{% block content %}
 		
 	{% endblock content %}
 </body>
 </html>