{% extends "base.html" %}
{% block content %}
<div class="sub-block">
        <div  class="subject-block">    
            <ul>
            	{% for lab in labs %}
                            	<ul>
                                <li><a href="{% url 'edit_labs' lab.id %}"> {{ lab.title }}  </a></li>
                                <li><a href="{% url 'delete_lab' lab.id %}"> Видалити </a> </li>
                            </ul>
                 	{% endfor %}
                      
            </ul>
        </div>  
 		</div>
 </div>
{% endblock %}