{% extends "base.html" %}
{% block title %}
    Hello
{% endblock title %}
{% block startpage %}
    <a href="/" class="choice-variant btn btn-outlined btn-theme">Повернутися на головну сторінку</a>
{% endblock startpage %}
{% block content %}
    <div class="choice-block">
        <div class="ch-title">
            <form class="form-container" action="" method="post">{% csrf_token %}
            <br>
                <div class="form-title">Нікнейм</div>
                <input class="form-field" type="text" name="username"/><br/>
                {{ form.username.errors }}

                <div class="form-title">Пароль</div>
                <input class="form-field" type="password" name="password"/><br/>
                {{ form.password.errors }}
                <br>
                <div class="submit-container">
                    <input class="btn-success" type="submit" value="Увійти"/>
                    <input type="hidden" name="next" value="{{ next|escape }}"/>
                </div>
                <div class="form-title">{{ login_error }}</div>
            </form>
        </div>
    </div>
{% endblock content %}