{% extends "base.html" %}

{% block content %}

<div class="sub-block">
	<center>
		<div class="subj-title">
			<div class="sub-title">
				{{ subject.name }}
			</div>
		</div>
	</center>
		{% load staticfiles %}
		<div style="background-image: url({% static "images/dark.png" %})" class="subject-block">	

		<ul>
			<li>Лекції
				<ul>
					{% for lecture in lectures %}
						<li> Лекція номер {{ lecture.number }}: {{ lecture.name }} </li>
						<ul>
							{% if lecture.theory %}
								<li><a href="/1/1/2/theory/{{lecture.theory.id}}/" style="text-decoration:none;">Теорія</a></li>
							{% endif %}
							{% if lecture.presentation %}
								<li>Презентація</li>
							{% endif %}
							{% if lecture.video %}
								<li><a href="/1/1/2/video/{{lecture.video.id}}/" style="text-decoration:none;">Відео</a></li>
							{% endif %}
						</ul>
					{% endfor %}
					
				</ul>
			</li>	
			<li>Практичні
				<ul>
					{% for pr in prs %}
						<li>Практична робота {{ pr.number }}: {{ pr.title }} </li>
						<ul>
							<li>Переглядати</li>
							<li>Завантажити</li>
						</ul>
					{% endfor %}					
				</ul>
			</li>	
			<li>Лабораторні
				<ul>
					{% for lr in prs %}
						<li>Лабораторна робота {{ lr.number }}: {{ lr.title }} </li>
						<ul>
							<li>Переглядати</li>
							<li>Завантажити</li>
						</ul>
					{% endfor %}
				</ul>
			</li>	
		</ul>

		</div>	
</div>

{% endblock %}