{% extends "base.html" %}

{% block content %}

<div class="sub-block">
	<center>
		<div class="subj-title">
			<div class="sub-title">
				{{ subject.name }}
			</div>
		</div>
	</center>
		{% load staticfiles %}
		<div style="background-image: url({% static "images/dark.png" %})" class="subject-block">	

		<ul>
			{% if lectures %}
				<li>Лекції
					<ul>
						{% for lecture in lectures %}
							<li> Лекція номер {{ lecture.number }}: {{ lecture.name }} </li>
							<ul>
								{% if lecture.theory %}
									<li><a href="/subjects/{{lecture.subject_id}}/theory/{{lecture.theory.id}}/" style="text-decoration:none;">Теорія</a></li>
								{% endif %}
								{% if lecture.presentation %}
									<li>Презентація</li>
								{% endif %}
								{% if lecture.video %}
									<li><a href="/subjects/{{lecture.subject_id}}/video/{{lecture.video.id}}/" style="text-decoration:none;">Відео</a></li>
								{% endif %}
							</ul>
						{% endfor %}
						
					</ul>
				</li>	
			{% endif %}
			{% if prs %}
				<li>Практичні
					<ul>
						{% for pr in prs %}
							<li><a href="#" style="text-decoration:none;">Практична робота {{ pr.number }}: {{ pr.title }} </a></li>
						{% endfor %}					
					</ul>
				</li>	
			{% endif %}
			{% if lrs %}
				<li>Лабораторні
					<ul>
						{% for lr in lrs %}
							<li><a href="#" style="text-decoration:none;">Лабораторна робота {{ lr.number }}: {{ lr.title }} </a></li>
						{% endfor %}
					</ul>
				</li>	
			{% endif %}
			{% if tests %}
				<li>Підсумкові
					<ul>
						{% for test in tests %}
							<li><a href="#" style="text-decoration:none;">{{test.title}}</a></li>
						{% endfor %}
					</ul>
				</li>
			{% endif %}
		</ul>

		</div>	
</div>

{% endblock %}