{% extends "base.html" %}
{% block startpage %}
	<a href="/" class="choice-variant btn btn-outlined btn-theme">Повернутися на головну сторінку</a>
	<a href="{% url 'create_all' %}" class="choice-variant btn btn-outlined btn-theme">Create</a>
{% endblock startpage %}
	
{% block content %}

	{% if messages %}
		<ul class="messages">
    	{% for message in messages %}
    	<li{% if message.tags %} class="{{ message.tags }}"{% endif %} >{{ message }}</li>
    		{% endfor %}
		</ul>
	{% endif %}
<div class="choice-block">
	<center>
		<div class="choice-title">
			<div class="ch-title">
			{% if messages %}
		<ul class="messages">
    	{% for message in messages %}
    	<li{% if message.tags %} class="{{ message.tags }}"{% endif %} >{{ message }}</li>
    		{% endfor %}
		</ul>
	{% endif %}
				Предмети
			</div>
			<div class="ch-title">
				<a href="{% url 'create_subject'%}"> Створити предмет </a>
			</div>
		</div>		
		<div class="choice-various">
			{% for subject in subjects %}
				<a href="{% url 'edit_subject' subject.id %}" style="text-decoration:none;" data-wow-delay="0.7s">
					{{ subject.name }}					
				</a>
				<a href="{% url 'delete_subject' subject.id %}"> Видалити </a>
                <br>
			{% endfor %}			
		</div>		
	</center>
</div>

{% endblock %}