{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

<div class="video-block">
	<video name='demo' controls autoplay class="video">
		<source src="{{ video.document.url }}" type="video/mp4"></source>
	</video>
	<div class="video-title">
		<div class="" style="float:left;">
			{{ video.title }} | <a href="/subjects/{{subject.id}}/" style="text-decoration:none;">{{ subject }}</a>
		</div>
		<div class="" style="float:right;">
			<a href="{{ video.document.url }}"  style="text-decoration:none;" download	>Завантажити</a>
		</div>
	</div>	
</div>
<!-- {{ video.document.path }} -->


<div>
  {{ slide }}
</div>



{% endblock %}




